.main-container {
    display: block;
    height: 100%;
    width: 90%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

text-viewer {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    min-width: 100px;
    height: calc(100% - 40px);
    min-height: 150px;
}

highlight-viewer {
    display: inline-block;
    vertical-align: top;
    width: calc(30% - 4px);
    min-width: 100px;
    height: calc(100% - 40px);
    min-height: 150px;
}

help-page {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    height: auto;
    min-height: 150px;
}

top-panel {
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

bottom-panel {
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.download-panel {
    position: absolute;
    right: 0px;
    top: 30px;
    width: 250px;
    height: auto;
    border-bottom-left-radius: 10px;
    background-color: grey;
    text-align: center;
    z-index: 10;
    
    padding: 5px;

    color: white;

    label {
        font-size: 16px;
    }

    .btn {
        width: 100px;
        margin-top: 10px;
    }

    input {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}

[hidden] {
    display: none;
}

@media (max-width: 900px) { 
    .main-container {
        width: 95%;   
    }

    text-viewer {
        width: 100%;
        height: 50%;
    }

    highlight-viewer  {
        width: 100%;
        height: calc(50% - 40px);
        margin-top: 10px;
    }

    help-page {
        width: 100%;
    }
}
